{
  "env": {
    "jest": true,
    "browser": true
  },
  "extends": [
    "plugin:react/recommended",
    "standard",
    "standard-react",
    "prettier"
  ],
  "rules": {
    "comma-dangle": [2, "always-multiline"]
  }
}
